*{
  margin: 0 0;
  padding: 0;
}
.header{
  background-color: #212529;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.header{
  display: flex;
  /* margin-left: 30px; */
  justify-content: space-between;
}
.start_B{
  margin-left: 100px;
  font-size: 22px;
}
.nav-links ul{
  list-style: none;
  
}
.nav-links{
  margin-right: 40px;
}
.nav-links a{
  color: rgb(196, 196, 196);
}
.nav-links ul li{
  display: inline-block;
  margin-right: 60px;
}
/* BODY */
.body_content{
  text-align: center;
  margin-top: 40px;
}
.title-body{
  font-size: 50px;
  font-weight: 700;
}
/* FOOTER */
.footer_content{
  background-color: #212529;
  color: aliceblue;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}